.main {
  display: flex;
  justify-content: space-between;
  margin: 3rem 4.5rem;

  .container {
    flex: 1;
    
  }
  .productContainer{
    width: 35.875rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    @media (max-width:768px) {
      width: 100%;
      margin: 0.75rem;
    }
  }

  @media (max-width:768px) {
    margin: 0;
    display: block;
    width: 100%;
    .container{
      margin: 0.75rem;      
    }
    .image{
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 360px;
      width: 360px;
    }
  }

}

.badges{
  display: flex;
  align-items: center;
  line-height: 16px;
  .readyToShip{
    font-size: 0.75rem;
    background: linear-gradient(#F5515F, #FF7527);
    color: #fff;
    border-radius: 2px 0 0 2px;
    padding: 2px 8px;
  }
  .inStock{
    display: flex;
    align-items: center;
    align-items: center;
    font-size: 0.75rem;
    background: #FFF0E6;
    color: #FF6600;
    padding: 2px 8px;
  }
  .fastDispatch{
    display: flex;
    align-items: center;
    align-items: center;
    font-size: 0.75rem;
    background: #FFF0E6;
    color: #FF6600;
    border-radius: 0 2px 2px 0;;
    padding: 2px 8px;
  }
}

.box{
  line-height: 24px;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.hotSaleProducts{
  font-size: 0.75rem;
  line-height: 16px;
  display: inline-block;
  background: #EDF0F3;
  color: #999999;
  border-radius: 2px;
  padding: 2px 8px;
}

.ratingsBox{
  display:flex;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  font-size: 0.75rem;
  color: #FF6600;
}

.priceBox{  
  line-height: 24px;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;  
  .price{
    color: #FF6600;
    font-weight: bold;
    margin-right: 0.75rem;
    @media (max-width:768px) {
      margin: 0;
    }

  }
  .options{
    display: flex;
    font-size: 0.9rem;
    .gray{
      color: #999999;
          @media (max-width:768px) {
      margin: 0;
    }
    }
    .line{
      color: #EDF0F3;
    }
    
  }
  .oldPrice{
    text-decoration: line-through;
    font-size: 0.9rem;
    color: #999999;
    line-height: 16px;
  }
}

.marchExpo{
  font-size: 0.875rem;
  line-height: 1rem;
  display: flex;
  margin-top: 0.75rem;
  background: #FFF0E6;
  color: #FF6600;
  height:40px;
  align-items: center;
  text-align: left;
  .onTime{
    margin-left: 1.5rem;
    @media (max-width:768px) {
      display: none;
    }
  }
}
.arrow{
  margin: 13px 16px 13px 25px ;
}

.countdownTimer{
  display: flex;
  margin-top: 1.75rem;
  color:#FF6600;
  font-size: 0.875rem;
  .gray{
    color: #999999;
    margin-right: 1.5rem;
  }
  .timer{
    margin-left: 0.75rem;
    color: #999999;
    font-size: 1rem;
  }
}
.products{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  display: flex;
  font-size: 0.875rem;
  .title{
    width: 10.875rem;
    @media (max-width:768px) {
      width: 100%;
    }
  }
  
  .gray{
    display: flex;
    align-items: center;
    width: 100%;
    color: #999999;
    height: 40px;
    @media (max-width:768px) {
      display: none;
    }
  }
}

.product{
  margin-bottom: 0.75rem;
  align-items: center;
  display: flex;
  height: 40px;
  width: 100%;
  @media (max-width:768px) {
    width: 100%;
  }
}
.incrementer{
    /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  }
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  height: 40px;
  display: flex;

  button{
    background-color:#ffffff;
    min-height: 40px;
    min-width: 40px;
    cursor:pointer;
    border-style: solid;
  }
  .activeButton{
    border-radius: 2px 0 0 2px;
    border-color: #FF6600;
  }
  .disabledButton{
    border-radius: 2px 0 0 2px;
    border-color: #E6E7EB;
  }
    
  .right{
    border-color: #FF6600;
    border-radius: 0 2px 2px 0;
  }
  input{
    text-align: center;
    color: #999999;
    width: 80px;
    border-right: none;
    border-left: none;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #E6E7EB;
  }
  .inputActive{
    border-right: none;
    border-left: none;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #FF6600;
  }
}

.tradeAssurance{
  display: flex;
  color: #999999;
  font-size: 0.75rem;
  align-items: center;
  margin-bottom: 0.75rem;
  .bigText{
    font-weight: bold;
    font-size: 1rem;
  }
}


.addToBox{
  margin-left: 1.5rem;
  padding: 1.5rem;
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);
  width: 17.625rem;
  @media (max-width:768px) {
    width: 100%;
    margin: 0;
  }
  

  .gray{
    display: flex;
    margin-bottom: 0.75rem;
    color: #999999;
    font-size: 0.875rem;
   
    .price{
      float: right;
      color: #333333;
      font-size: 1rem;
      font-weight: bold;
      margin-left: auto;
      
    }
  }
  .buttons{
    margin-top: 24px;
    justify-content: center;
    align-items: center;

    .loginToPurchase{

      font-size: 14px;
      padding: 10px 24px;
      margin-bottom: 12px;
      color: #FFFFFF;
      border-color: #FF6600;
      background-color: #FF6600;
      border-style: solid;
      border-radius: 20px;
      width: 100%;
      height: 40px;
      cursor:pointer;
    }
    .contact{
      font-size: 14px;
      color: #FF6600;
      border-color: #FF6600;
      background-color: #FFFFFF;
      border-style: solid;
      border-radius: 20px;
      width: 100%;
      height: 40px;
      cursor:pointer;
    }
  }


}